body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }
body .cback {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer; }
body .cback-circle {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%; }
body .cback-circle--phone {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
body .cback-circle.fn1 {
  animation: pin 2.5s linear .4s infinite normal; }
body .cback-circle.fn2 {
  animation: pin 2s linear 0s infinite normal;
  background: none; }
body .cback:hover .cback-circle--phone {
  animation: hvr-phone 1.5s linear infinite normal; }
body .cback .phone-icon {
  width: 41px;
  height: 41px;
  background: url(https://brrenat.github.io/content/phone.png);
  background-size: 1.5rem;
  background-position: left;
  background-position-x: 8px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: phone-fn 2s infinite ease-in-out; }

@keyframes phone-fn {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg); }
  10% {
    transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg); }
  100%, 50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg); } }

@keyframes pin {
  0% {
    opacity: .6;
    transform: scale(0.5); }
  100% {
    opacity: 0;
    transform: scale(1); } }

@keyframes hvr-phone {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: inset 0 0 20px -14px rgba(0, 0, 0, 0.75); }
  80% {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: inset 0 0 20px -4px rgba(0, 0, 0, 0.75); } }

#callBackModal .modal-content {
  border: none; }
#callBackModal .modal-content .modal-header {
  background-color: #5eb678;
  color: #fff; }
#callBackModal .modal-content .modal-header .close {
  color: white;
  opacity: 1; }
#callBackModal .modal-content .modal-body #contactPersonName {
  background-image: url("../img/person.png");
  background-repeat: no-repeat;
  background-size: 1.6rem;
  background-position: left;
  background-position-x: 8px;
  padding-left: 3rem;
  margin-bottom: 0.7em; }
#callBackModal .modal-content .modal-body #contactPersonName:focus {
  border: 2px solid #5eb678;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }
#callBackModal .modal-content .modal-body #contactPersonPhone {
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-size: 1.4rem;
  background-position: left;
  background-position-x: 8px;
  padding-left: 3rem; }
#callBackModal .modal-content .modal-body #contactPersonPhone:focus {
  border: 2px solid #5eb678;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }
#callBackModal .modal-content .modal-footer .btn-success {
  background: #5eb678; }
#callBackModal .modal-content .modal-footer .btn-success:hover {
  background: green; }

#thanksModal .modal-content {
  border: none; }
#thanksModal .modal-content .modal-header {
  border-bottom: none; }
#thanksModal .modal-content .modal-header h1 {
  margin-left: auto;
  margin-bottom: 0; }
#thanksModal .modal-content .modal-header .close {
  color: #5eb678;
  opacity: 1; }
#thanksModal .modal-content .modal-body {
  text-align: center; }
#thanksModal .modal-content .modal-footer {
  border-top: none; }

.dropdown-content {
  position: absolute;
  top: 4.6em;
  width: 40%;
  margin-left: 55%;
  background-color: white;
  border: 1px solid #5eb678;
  border-radius: 5px;
  z-index: 999;
  display: none;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
  max-height: 80vh;
  overflow: auto; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: none; }
.dropdown-content a h5 {
  width: 100%; }
.dropdown-content a h6 {
  width: 100%;
  color: #999 !important; }

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #5eb678;
  text-decoration: none; }

header {
  background-color: #ffffff;
  margin-bottom: 40px;
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.05); }
header nav {
  background-color: #fff; }
header .navbar .mobileSearch {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: left;
  background-position-x: 8px;
  padding-left: 2.4rem;
  width: 60%;
  outline: none;
  height: 2.5rem; }
header .navbar .mobileSearch:focus {
  width: 60%;
  border-color: #5eb678;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }
header .navbar .desctopSearch {
  border: none;
  cursor: pointer;
  padding-left: 2.3rem;
  width: 2rem;
  background-image: url("/img/search.png");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: left;
  background-position-x: 8px;
  outline: none; }
header .navbar .desctopSearch:focus {
  border: 1px solid #5eb678;
  width: 100%;
  background: none;
  padding-left: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }
header .navbar .navbar-nav {
  width: 100%; }
header .navbar .navbar-nav li:nth-child(6) {
  width: auto;
  margin-left: auto; }
header .navbar .navbar-nav li .active {
  text-decoration: underline;
  text-decoration-color: #5eb678; }
header .navbar .navbar-nav li .active:hover {
  text-decoration: underline;
  text-decoration-color: #5eb678; }
header .navbar .navbar-nav li a:hover {
  text-decoration: underline; }
header .navbar .navbar-nav .sep {
  line-height: 2.7rem; }

.carousel .carousel-inner .carousel-item {
  height: 75vh;
  vertical-align: middle; }
.carousel .carousel-inner .carousel-item img {
  min-width: 100vw;
  max-width: 100%;
  height: inherit;
  object-fit: cover; }
.carousel .carousel-inner .carousel-item .carousel-caption {
  top: 60%;
  width: fit-content;
  left: 10vw;
  background-color: rgba(255, 255, 255, 0.5); }
.carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 4rem;
  padding: 1rem 3rem;
  border-top: 4px solid #5eb678;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 60px black; }

@media (min-width: 0) and (max-width: 320px) {
  header nav .logo {
    margin-right: 0; }
  header nav .logo .logo-standard {
    display: none; }
  header nav .logo .logo-sm {
    height: 3rem; }
  header nav .sep {
    display: none; }
  header nav .navbar-nav {
    align-items: center; }
  header nav .navbar-nav .desctopSearch {
    display: none; }
  header .navbar {
    padding-top: 0;
    padding-bottom: 0; }
  .carousel .carousel-inner .carousel-item {
    height: 45vh; }
  .dropdown-content {
    top: 4rem;
    max-height: 75vh;
    overflow: auto;
    width: 96%;
    margin-left: 2%; } }

@media (min-width: 321px) and (max-width: 544px) {
  header nav .logo {
    margin-right: 0; }
  header nav .logo .logo-standard {
    display: none; }
  header nav .logo .logo-sm {
    height: 3rem; }
  header nav .sep {
    display: none; }
  header nav .navbar-nav {
    align-items: center; }
  header nav .navbar-nav .desctopSearch {
    display: none; }
  header .navbar {
    padding-top: 0;
    padding-bottom: 0; }
  .carousel .carousel-inner .carousel-item {
    height: 45vh; }
  .dropdown-content {
    top: 4rem;
    max-height: 75vh;
    overflow: auto;
    width: 96%;
    margin-left: 2%; } }

@media (min-width: 545px) and (max-width: 768px) {
  header nav .logo {
    margin-right: 0; }
  header nav .logo .logo-standard {
    display: none; }
  header nav .logo .logo-sm {
    height: 3rem; }
  header nav .sep {
    display: none; }
  header nav .navbar-nav {
    align-items: center; }
  header nav .navbar-nav .desctopSearch {
    display: none; }
  header .navbar {
    padding-top: 0;
    padding-bottom: 0; }
  .carousel .carousel-inner .carousel-item {
    height: 45vh; }
  .dropdown-content {
    top: 4rem;
    max-height: 75vh;
    overflow: auto;
    width: 90%;
    margin-left: 5%; } }

@media (min-width: 769px) and (max-width: 992px) {
  header nav .logo {
    margin-right: 1em; }
  header nav .logo .logo-standard {
    display: none; }
  header nav .mobileSearch {
    display: none; }
  header .navbar .navbar-nav li {
    display: inline-block;
    font-size: 1em;
    padding: 1.2em 0 1em 0; }
  .dropdown-content {
    width: 60%;
    margin-left: 35%; } }

@media (min-width: 993px) and (max-width: 1200px) {
  header nav .logo .logo-sm {
    display: none; }
  header nav .mobileSearch {
    display: none; }
  header .navbar .navbar-nav {
    padding-left: 5%; }
  header .navbar .navbar-nav li {
    display: inline-block;
    font-size: 1em;
    padding: 1.2em 0.4em 1em 0.4em; } }

@media (min-width: 1201px) and (max-width: 1440px) {
  header nav .logo .logo-sm {
    display: none; }
  header nav .mobileSearch {
    display: none; }
  header .navbar .navbar-nav {
    padding-left: 5%; }
  header .navbar .navbar-nav li {
    display: inline-block;
    font-size: 1em;
    padding: 1.2em 0.4em 1em 0.4em; } }

@media (min-width: 1441px) {
  header nav .logo .logo-sm {
    display: none; }
  header nav .mobileSearch {
    display: none; }
  header .navbar .navbar-nav {
    padding-left: 5%; }
  header .navbar .navbar-nav li {
    display: inline-block;
    font-size: 1em;
    padding: 1.2em 0.4em 1em 0.4em; } }
