<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crida Pharm™</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/old.css">
</head>

<body>
<script type="text/javascript" src="js/jquery.min.js"></script>


<header style="margin-bottom: 0;">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="navbar-brand logo">
            <img src="img/logo.png" alt="" class="logo-standard">
            <img src="img/logo-sm.png" alt="" class="logo-sm">
        </div>

        <input type="search" class="mobileSearch form-control" id="mobileSearch" placeholder="Пошук..." oninput="filterFunction(this.id)">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">ПРО НАС</a>
                </li>
                <li class="sep">.</li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">ПРОДУКТИ</a>
                </li>
                <li class="sep">.</li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">КОНТАКТИ</a>
                </li>
                <li class="nav-item">
                    <input class="form-control desctopSearch" type="search" placeholder="Пошук..." id="desctopSearch"
                           name="search" autocomplete="off" oninput="filterFunction(this.id)">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.cridapharm.ro/en/catalog" id="lang-selector">EN</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div id="myDropdown" class="dropdown-content">
    <a th:href="@{'/products-'+${product.url}}" th:each="product: ${productList}">
        <div class="row">
            <div class="col-3" >
                <img th:src="@{'../img/imgProducts/'+${product?.imgUrl}}" width="100%">
            </div>
            <div class="col-9">
                <div class="row">
                    <h5 th:text="${product.name}">Name of product rsesdfsdf</h5>
                    <h6 th:text="${product.activeComponent}">componentss  sdfsdfsfee</h6>
                </div>
            </div>
        </div>
    </a>
</div>

<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="media/factory/p22.jpg" alt="First Slide">
            <div class="carousel-caption d-none d-lg-block">
                <h5>Сертифіковане виробництво міжнародним стандартом GMP</h5>
<!--                <p>Ми отримали сертифікат належної виробничої практики <strong>GMP</strong> у 2005 році.</p>-->
            </div>
        </div>
        <div class="carousel-item">
            <img src="media/factory/p45.jpg" alt="Second Slide">
            <div class="carousel-caption d-none d-lg-block">
                <h5>Перше місце на ринку ветпрепаратів Румунії</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="media/factory/p40.jpg" alt="Third Slide">
            <div class="carousel-caption d-none d-lg-block">
                <h5>Лідери продажу препаратів у Східній Європі</h5>
<!--                <p>Ми - лідери продажу препаратів у Східній Європі</p>-->
            </div>
        </div>
        <div class="carousel-item">
            <img src="media/factory/p40.jpg" alt="Third Slide">
            <div class="carousel-caption d-none d-lg-block">
                <h5>Висока біодоступність препаратів</h5>
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
            </div>
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>


<div class="container-fluid video">
    <h1>Про нас</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6 video-description">
            <h1>Crida pharm</h1>
            <p>
                CRIDA PHARM  S.R.L. -  ветеринарно-фармацевтична компанія, яка була заснована в 1997 році. Початковою діяльністю компанії був імпорт та продаж ветеринарних препаратів.
                У 2004 році , з урахуванням нових правил Європейського співтовариства,які  застосовуються в Румунії  і які  забороняють прямий продаж сировини, ми вирішили зробити завод, який виробляє ветеринарні препарати у відповідності до вимог європейських стандартів.
            </p>
            <a href="https://www.youtube.com/channel/UCs_CHOX7zi3WgUzmv9BeqKw" target="_blank">
                <img th:src="@{'img/youtubech.png'}" width="40px">
                наш YouTube канал
            </a>
        </div>
        <div class="col-lg-6 videoframe">
            <iframe id="ytplayer" type="text/html" width="100%" height="100%"
                    src="https://www.youtube.com/embed/mJK-OwzmYO0?autoplay=0&origin=http://example.com"
                    frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="container-fluid activities" >
    <div class="row">
        <div class="col-lg-4 picture" style="background-image: url(media/factory/p31.jpg);"></div>
        <div class="col-lg-4 description">
            <h1>Власні лабораторії</h1>
            <p>Щоб гарантувати найвищу якість продкції, ми створили  фізико-хімічну і мікробіологічну лабораторії контролю, які обладнані найсучаснішими засобами вимірювання та контролю обладнання. Також ми запросили досвідчених фахівців у цій галузі і таким чином компанії вдалося створити виробництво широкого спектру лікарських засобів. </p>
        </div>
        <div class="col-lg-4 picture" style="background-image: url(media/factory/fb7.jpg);"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 description">
            <h1>Сертифіковане виробництво</h1>
            <p>
                Завдяки багаторічному досвіду і, як результат, високій якості продукції ми отримали сертифікат ISO 9001 в грудні 2005 року.
                Також в 2005 році, в кінці серпня отримали сертифікат  належної виробничої практики (GMP)  для порошкоподібних продуктів, а  у вересні 2007 року ресертифікат для рідких форм.
                В кінці серпня 2006 року отримали свідоцтво належної лабораторної практики GLP  і ресертифікат в серпні 2008 року.
            </p>
        </div>
        <div class="col-lg-4 picture" style="background-image: url(media/factory/fb6.jpg);"></div>
        <div class="col-lg-4 description">
            <h1>Ефективність препаратів</h1>
            <p>Сучасна ветеринарна допомога- це високоефективні  рішення в  подоланні захворювань в умовах масштабного фермерського виробництва. Швидкість і ефективність лікування  визначає не лише подолання захворювання на фермі, а також рентабельність вашого  бізнесу і як наслідок подальше життя вашого підприємства в конкурентному cвіті. Вибираючи препарати Crida Pharm ви завжди будете впевненні в позитивній терапевтичній дії препарату та своєму успіху!</p>
        </div>
    </div>
</div>

<div class="container-fluid counter">
    <h1>Досягнення</h1>
    <hr>
    <div class="row">
        <ul class="stats">
            <li>
                <span class="count">20</span>
                <hr>
                <p>років на ринку Європейського Союзу</p>
            </li>
            <li>
                <span class="count">67</span>
                <hr>
                <p>конференцій та семінарів</p>
            </li>
            <li>
                <span class="count">57</span>
                <hr>
                <p>ефективних рішень для фермерів</p>
            </li>
            <li>
                <span class="count">18</span>
                <hr>
                <p>середній досвід наших фахівців</p>
            </li>
        </ul>
    </div>
</div>

<script async type="text/javascript">

    $('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 1000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>


<div class="container-fluid ukraine">
    <h1>Діяльність в Україні</h1>
    <hr>
    <div class="row">
        <div class="col-lg-5">
            <img th:src="@{'media/factory/MG_0341.jpg'}" alt="" width="100%">
        </div>
        <div class="col-lg-7 activity-description">
            <p>"Кріда Фарм Україна" розпочала свою діяльність в Україні з 2013 року. Офіс компанії на протязі всього періоду  знаходиться у місті Львові. За цей період і по сьогодні , представники компанії активно відвідують спеціалізовані виставки, тематичні конференції, як в Україні так і за її межами. Представники команди "Кріда Фарм Україна" володіють  високим рівенем знань ветеринарної фармакології та фармацефтики, а також значний досвід в галузі птахівництва та хутрового тваринництва. Досвід та знання, які спеціалісти команди "Кріда Фарм Україна " отримали на кращих  фермерських господарствах Європи та країн Латинської Америки, допомагає у пошуках ефективних рішень, які значно покращують рентабельність фермерського бізнесу наших партнерів. Успіх наших партнерів - це наша репутація!</p>
        </div>
    </div>
</div>


<!--<div class="container-fluid team team-section text-center">-->
<!--    <h1>Наша команда</h1>-->
<!--    <hr>-->
<!--    <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam-->
<!--        eum porro a pariatur veniam.</p>-->

<!--    <div class="row">-->
<!--        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">-->
<!--            <div class="avatar mx-auto">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"-->
<!--                     alt="Sample avatar">-->
<!--            </div>-->
<!--            <h4 class="font-weight-bold mt-4">Anna Williams</h4>-->
<!--            <p class="text-uppercase"><strong>Graphic designer</strong></p>-->
<!--            <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,-->
<!--                adipisci sed quia non numquam modi tempora eius.</p>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">-->
<!--            <div class="avatar mx-auto">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"-->
<!--                     alt="Sample avatar">-->
<!--            </div>-->
<!--            <h4 class="font-weight-bold mt-4">John Doe</h4>-->
<!--            <p class="text-uppercase"><strong>Web developer</strong></p>-->
<!--            <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium-->
<!--                doloremque rem laudantium totam aperiam.</p>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">-->
<!--            <div class="avatar mx-auto">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"-->
<!--                     alt="Sample avatar">-->
<!--            </div>-->
<!--            <h4 class="font-weight-bold mt-4">Maria Smith</h4>-->
<!--            <p class="text-uppercase"><strong>Photographer</strong></p>-->
<!--            <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt-->
<!--                mollit anim est fugiat nulla id eu laborum.</p>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6">-->
<!--            <div class="avatar mx-auto">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"-->
<!--                     alt="Sample avatar">-->
<!--            </div>-->
<!--            <h4 class="font-weight-bold mt-4">Tom Adams</h4>-->
<!--            <p class="text-uppercase"><strong>Backend developer</strong></p>-->
<!--            <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur-->
<!--                totam officia voluptates perferendis voluptatibus aut.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="container-fluid footer">
    <div style="display: inline-flex;">
        <a href="#"><img src="img/facebook.png"  height="30px" alt="" title="Ми у Фейсбуці"></a>
        <a href="#"><img src="img/youtube.png" height="30px" alt="" title="Ми на YouTube"></a>
    </div>
    <p> <strong style="color: green; font-family:'Comfortaa', cursive;">&#169; Кріда</strong> Фарм, 2020</p>
    <div>
        <a href="tel:123-456-7890">123-456-7890</a>
        <a href="tel:123-456-7890">123-456-7890</a>
    </div>
</div>


<div class="modal fade" id="callBackModal">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <form action="bookCall">
                <div class="modal-header">
                    <h4 class="modal-title">Замовити дзвінок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label class="col-form-label" for="contactPersonName">Ім'я</label>
                    <input type="text" class="form-control" id="contactPersonName" autofocus autocomplete="off"
                           required="required" name="contactPerson">

                    <label class="col-form-label" for="contactPersonPhone">Номер телефону</label>
                    <input type="tel" class="form-control" id="contactPersonPhone" autocomplete="off"
                           required="required" name="contactPhone" placeholder="(XXX) XXX-XXXX" data-inputmask-mask="(999) 999-9999">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="sendCallBackRequest()">Замовити</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="thanksModal">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Дякуємо!</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="/img/ok.png" alt="" width="50%">
                <h5>Наші фахівці зв'яжуться з Вами найближчим часом</h5>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="cback">
    <style>
        .cback-circle {
            background: #3CB868;
            color: #3CB868;
        }
    </style>
    <a data-toggle="modal" href="#callBackModal" data-placement="top" title="Замовити дзвінок">
        <div class="cback-circle fn1"></div>
        <div class="cback-circle fn2"></div>
        <div class="cback-circle cback-circle--phone">
            <i class='phone-icon'></i>
        </div>
    </a>
</div>



<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script>
    $(document).ready(function(){
        $("#myCarousel").carousel();
    });
</script>



</body>
</html>