<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crida Pharm™</title>

    <meta name="description" content="Crida Pharm, ветпрепарати, Україна">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=latin-ext"
        rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/old.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body>
    <script type="text/javascript" src="js/jquery.min.js"></script>


    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="navbar-brand logo">
                <a href="/">
                    <img src="img/logo.png" alt="" class="logo-standard">
                    <img src="img/logo-sm.png" alt="" class="logo-sm">
                </a>
            </div>

            <input type="search" class="mobileSearch form-control" id="mobileSearch" placeholder="Пошук..." oninput="filterFunction(this.id)">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
                    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">ПРО НАС</a>
                    </li>
                    <li class="sep">.</li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/products">ПРОДУКТИ</a>
                    </li>
                    <li class="sep">.</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">КОНТАКТИ</a>
                    </li>
                    <li class="nav-item">
                        <input class="form-control desctopSearch" type="search" placeholder="Пошук..." id="desctopSearch"
                               name="search" autocomplete="off" oninput="filterFunction(this.id)">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.cridapharm.ro/en/catalog" id="lang-selector">EN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="myDropdown" class="dropdown-content">
        <a th:href="@{'/products-'+${product.url}}" th:each="product: ${productList}">
            <div class="row">
                <div class="col-3" >
                    <img th:src="@{'../img/imgProducts/'+${product?.imgUrl}}" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5 th:text="${product.name}">Name of product rsesdfsdf</h5>
                        <h6 th:text="${product.activeComponent}">componentss  sdfsdfsfee</h6>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div id="body-content">

        <h1>ПРОДУКТИ</h1>

        <div id="products-banner"></div>

        <nav id="criteria-index">

            <ul id="tab-links">
                <li class=""><a href="#c1">ФАРМАЦЕВТИЧНА ФОРМА</a></li>
                <li class="active"><a href="#c2">ФАРМАКОЛОГІЧНА ГРУПА</a></li>
                <li class=""><a href="#c3">ВИД ТВАРИН</a></li>
            </ul>

        </nav>

        <section id="criteria-description">

            <article id="c1" style="display: none;">

                <th:block th:each="form : ${formList}">
                    <h3 onclick="sh(this.id+'-par')" th:id="${form.name}" th:text="${form.name}">Injectable products</h3>
                    <div th:id="${form.name}+'-par'" >
                        <ul>
                            <li th:each="product:${form.products}"><a th:href="@{'/products-'+${product.url}}" th:text="${product.name}">AMOXICRID RETARD 15% inj</a></li>
                        </ul>
                    </div>
                </th:block>

            </article>

            <article id="c2" style="display: block;">

                <th:block th:each="form : ${drugList}">
                    <h3 onclick="sh(this.id+'-par')" th:id="${form.name}" th:text="${form.name}">Injectable products</h3>
                    <div th:id="${form.name}+'-par'" >
                        <ul>
                            <li th:each="product:${form.products}"><a th:href="@{'/products-'+${product.url}}" th:text="${product.name}">AMOXICRID RETARD 15% inj</a></li>
                        </ul>
                    </div>
                </th:block>

            </article>

            <article id="c3" style="display: none;">

                <th:block th:each="form : ${targetList}">
                    <h3 onclick="sh(this.id+'-par')" th:id="${form.name}" th:text="${form.name}">Injectable products</h3>
                    <div th:id="${form.name}+'-par'" >
                        <ul>
                            <li th:each="product:${form.products}"><a th:href="@{'/products-'+${product.url}}" th:text="${product.name}">AMOXICRID RETARD 15% inj</a></li>
                        </ul>
                    </div>
                </th:block>

            </article>


        </section>

        <script>
            function sh(item) {
                // $(".collapsable").hide();
                // $("#" + item).toggle();
            }

            $(document).ready(function () {

                $('#criteria-index #tab-links a').on('click', function (e) {
                    var currentAttrValue = $(this).attr('href');
                    $(currentAttrValue).show().siblings().hide();
                    $(this).parent('li').addClass('active').siblings().removeClass('active');
                    e.preventDefault();
                });

            });
        </script>

    </div>

    <div class="cback">
        <style>
            .cback-circle {
                background: #3CB868;
                color: #3CB868;
            }
        </style>
        <a href="tel:+380982091206" data-placement="top" title="Замовити дзвінок">
            <div class="cback-circle fn1"></div>
            <div class="cback-circle fn2"></div>
            <div class="cback-circle cback-circle--phone">
                <i class='phone-icon'></i>
            </div>
        </a>
    </div>

    <div class="container-fluid footer">
        <div class="socials" style="display: inline-flex;">
            <a class="social-one" href="https://www.facebook.com/Crida-Pharm-Ukraine-109275254223267/" target="_blank"><img src="img/facebook.png"  height="30px" alt="" title="Ми у Фейсбуці"></a>
            <a href="https://www.youtube.com/channel/UCs_CHOX7zi3WgUzmv9BeqKw" target="_blank"><img src="img/youtube.png" height="30px" alt="" title="Ми на YouTube"></a>
        </div>
        <p> <strong style="color: green; font-family:'Comfortaa', cursive;">&#169; Кріда</strong> Фарм, 2021</p>
        <div>
            <a href="tel:+380979092270">+380 (97)-909-22-70</a>
            <a href="tel:+380982091206">+380 (98)-209-12-06</a>
        </div>
    </div>

    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>