<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crida Pharm™</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=latin-ext"
        rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/old.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body>
    <script type="text/javascript" src="js/jquery.min.js"></script>


    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="navbar-brand logo">
                <img src="img/logo.png" alt="" class="logo-standard">
                <img src="img/logo-sm.png" alt="" class="logo-sm">
            </div>

            <input type="search" class="mobileSearch form-control" id="mobileSearch" placeholder="Пошук..." oninput="filterFunction(this.id)">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
                    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">ПРО НАС</a>
                    </li>
                    <li class="sep">.</li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/products">ПРОДУКТИ</a>
                    </li>
                    <li class="sep">.</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">КОНТАКТИ</a>
                    </li>
                    <li class="nav-item">
                        <input class="form-control desctopSearch" type="search" placeholder="Пошук..." id="desctopSearch"
                               name="search" autocomplete="off" oninput="filterFunction(this.id)">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.cridapharm.ro/en/catalog" id="lang-selector">EN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="myDropdown" class="dropdown-content">
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product rsesdfsdf<h5>
                            <h6>componentss  sdfsdfsfee</h6>
                    </div>
                </div>
            </div>
        </a>

        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of product dgsdf</h5>
                        <h6>component assaewewrwegvxcvzxvsdgve</h6>
                    </div>
                </div>
            </div>
        </a> <a href="#about">
        <div class="row">
            <div class="col-3" >
                <img src="media/products/amoxicridretard15inj.jpg" width="100%">
            </div>
            <div class="col-9">
                <div class="row">
                    <h5>Name of product dgsdf</h5>
                    <h6>component assaewewrwegvxcvzxvsdgve</h6>
                </div>
            </div>
        </div>
    </a>

        <a href="#about">
            <div class="row">
                <div class="col-3" >
                    <img src="media/products/amoxicridretard15inj.jpg" width="100%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <h5>Name of productsdgg sfsdf d sdfdfsdfs</h5>
                        <h6>component sevrwecrawef  weeca</h6>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div id="body-content">

        <h1 th:text="${product.name}"></h1>
        <h1 th:text="${product.bodyOfProduct}"></h1>

        <h1>AMOXICRID RETARD 15% inj</h1><img src="/media/products/amoxicridretard15inj.jpg" style="float: right; max-width: 100%;"><h2>COMPOSITION</h2>
        <p>Amoxicillin (as amoxicillin trihydrate) 150 mg/mL</p>
        <h2>TARGET SPECIES</h2>
        <p>Cattle, sheep, pigs, dogs and cats.</p>
        <h2>INDICATIONS</h2>
        <p>Amoxicillin is a broad-spectrum, semi-synthetic penicillin, which is bactericidal in vitro against a very large range of Gram-positive and Gram-negative bacteria:</p>
        <p>Gram-positive: Actinomyces bovis; Bacillus anthracis; Clostridium spp; Erysipelothrix rhusiopathiae; Corynebacterium spp; Peptostreptococcus spp; Staphylococcus spp (strains not producing beta-lactamases); Streptococcus spp.&nbsp;</p>
        <p>Gram-negative: Actinobacillus lignierisi; Actinobacillus pleuropneumoniae; Actinobacillus equili; Bacteroides spp; Bordetella bronchiseptica; Campylobacter spp; Escherichia coli (strains not producing beta-lactamases); Fusobacterium necrophorum; Haemophilus spp; Klebsiella spp; Pasteurella spp; Proteus mirabilis (strains not producing beta-lactamases).</p>
        <p>The product is indicated for the treatment of infections caused by germs susceptible to amoxicillin in cattle, sheep, pigs, dogs and cats, for which a prolonged period of antibiotic activity is required by a single administration. It can be used for the treatment and control of secondary bacterial infections when bacteria are not the primary cause of infections. Infections of the digestive tract, including enteritis. Infections of the respiratory tract including pneumonia in young bulls kept for fattening. Infections of the genitourinary system, including, cystitis and metritis. Infections of the skin and connective tissue, including abscesses and wounds, leg and joint infections.</p>
        <p>Prevention of post-operative infections by administering the product before surgery.</p>
        <h2>CONTRAINDICATIONS</h2>
        <p>Do not use in cases of hypersensitivity to the active substance or to any of the excipients.</p>
        <p>Like other penicillins, amoxicillin should not be administered orally or parenterally to rabbits, Guinea pigs and hamsters.</p>
        <p>Administer with caution to other small herbivores.</p>
        <p>Do not administer intravenously or in joints.</p>
        <h2>ADVERSE REACTIONS</h2>
        <p>Occasionally, the product may cause reactions at the injection site.</p>
        <h2>DOSAGE FOR EACH SPECIES, METHOD AND ROUTE(S) OF ADMINISTRATION</h2>
        <p>It may be administered subcutaneously or intramuscularly. The recommended dose is 15 mg/a.s./kg of live body weight which is equivalent to 1 mL of product/10 kg body weight. This dose can be repeated after 48 hours. The following information provides an example of dosing to different species. Species: cow; weight (kg): 450; dose (mL): 45. Species: calf; weight (kg): 50; dose (mL): 5. Species: sheep; weight (kg): 65; dose (mL): 6.5. Species: lamb; weight (kg): 10; dose (mL): 1. Species: pig; weight (kg): 150; dose (mL): 15. Species:&nbsp;gruntling; weight (kg): 70; dose (mL): 7. Species: piglet; weight (kg): 7; dose (mL): 0.7. Species: large dog; weight (kg): 35; dose (mL): 3.5. Species: average dog; weight (kg): 20; dose (mL): 2.0. Species: small dog; weight (kg): 10; dose (mL): 1. Species: cat; weight (kg): 5; dose (mL): 0.5. To ensure a correct dose, the body weight of the animals should be accurately determined, whenever possible, to avoid underdosing.</p>
        <h2>WARNINGS/ADVICE ON CORRECT ADMINISTRATION</h2>
        <p>To avoid underdosing it is advisable to weigh the animal prior to drug administration.</p>
        <p>Shake the vial well before use.</p>
        <p>This product does not contain antimicrobial preservatives.</p>
        <p>Wipe the septum before removing each dose from the vial.</p>
        <p>Use dry and sterile syringes and needles.</p>
        <p>In cattle, no more than 20 mL should be given in the same place.</p>
        <h2>WITHDRAWAL PERIOD(S)</h2>
        <p>Cattle (meat and offal) 	92 days</p>
        <p>Sheep (meat and offal) 	14 days</p>
        <p>Pig (meat and offal) 	21 days</p>
        <p>Milk			72 hours</p>
        <h2>SHELF LIFE</h2>
        <p>Shelf life of the veterinary medicinal product as packaged for sale: 2 years. Shelf-life after first opening the immediate packaging: 28 days.</p>
        <h2>SPECIAL PRECAUTIONS FOR STORAGE</h2>
        <p>Do not store above 25 °C. Keep away from light.</p>
        <h2>SPECIAL PRECAUTIONS FOR USE IN ANIMALS</h2>
        <p>The use of the product should be based on antimicrobial susceptibility testing of bacteria isolated from animals. If this is not possible, therapy should be based locally (regional agricultural level) on epidemiological information on the antimicrobial susceptibility of target bacteria.</p>
        <p>Using the product in violation of the instructions provided in the SmPC may increase the prevalence of resistant bacteria and may decrease treatment effectiveness due to their cross-resistance potential.</p>
        <h2>SPECIAL PRECAUTIONS TO BE TAKEN BY THE PERSON ADMINISTERING THE PRODUCT:</h2>
        <p>Penicillins and cephalosporins may produce hypersensitivity (allergy) reactions after self-injection, inhalation, ingestion or skin contact. Do not handle this product if you know you are a person exhibiting sensitivity to it or have been warned not to handle such preparations. Handle this product with great care to prevent exposure and take all precautions.</p>
        <p>If symptoms occur due to exposure to this product, such as itching, swelling of the face, lips or eyes or difficulty breathing, seek medical advice immediately and show the package leaflet to the doctor.</p>
        <h2>USE DURING PREGNANCY AND LACTATION</h2>
        <p>The product can be used in pregnant or lactating animals.</p>
        <h2>INTERACTION WITH OTHER MEDICINAL PRODUCTS AND OTHER FORMS OF INTERACTION</h2>
        <p>None known.</p>
        <h2>OVERDOSE (SYMPTOMS, EMERGENCY PROCEDURES, ANTIDOTES)</h2>
        <p>Amoxicillin has low toxicity and is well tolerated when administered parenterally.</p>
        <p>Except for occasional local reactions at the site of administration, which may even occur at the recommended dose, no other adverse effects have been observed, even in the case of accidental administration of an overdose.</p>
        <h2>INCOMPATIBILITIES</h2>
        <p>None known.</p>
        <h2>SPECIAL PRECAUTIONS FOR THE DISPOSAL OF UNUSED PRODUCTS OR WASTE MATERIALS, IF ANY</h2>
        <p>Any unused veterinary medicinal product or waste materials derived from such veterinary medicinal products should be disposed of in accordance with local requirements.</p>
        <p>Medicines should not be disposed of via waste water or household waste.</p>
        <h2>PRESENTATION/PACKAGE</h2>
        <p>50 mL, 100 mL, 250 mL and 500 mL high-density polypropylene vials sealed with bromobutyl rubber stopper and aluminium cap.</p>
        
    </div>

    <div class="modal fade" id="callBackModal">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <form action="bookCall">
                    <div class="modal-header">
                        <h4 class="modal-title">Замовити дзвінок</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label class="col-form-label" for="contactPersonName">Ім'я</label>
                        <input type="text" class="form-control" id="contactPersonName" autofocus autocomplete="off"
                               required="required" name="contactPerson">

                        <label class="col-form-label" for="contactPersonPhone">Номер телефону</label>
                        <input type="tel" class="form-control" id="contactPersonPhone" autocomplete="off"
                               required="required" name="contactPhone" placeholder="(XXX) XXX-XXXX" data-inputmask-mask="(999) 999-9999">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="sendCallBackRequest()">Замовити</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="thanksModal">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Дякуємо!</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <img src="/img/ok.png" alt="" width="50%">
                    <h5>Наші фахівці зв'яжуться з Вами найближчим часом</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-success">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="cback">
        <style>
            .cback-circle {
                background: #3CB868;
                color: #3CB868;
            }
        </style>
        <a data-toggle="modal" href="#callBackModal" data-placement="top" title="Замовити дзвінок">
            <div class="cback-circle fn1"></div>
            <div class="cback-circle fn2"></div>
            <div class="cback-circle cback-circle--phone">
                <i class='phone-icon'></i>
            </div>
        </a>
    </div>


    <div id="footer">

        <div id="footer-content">
    
        <div id="copyright">2018. All rights reserved.<br>
        Tempestada International Ltd.</div>
    
        </div>
    
    </div>
    
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>